* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color-primary: #3b0c82;
    --color-green: #334d31;
  }

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    background-image: url(./assets/beige.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hamburger {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    color: var(--color-green);
    text-decoration: underline;
    transition: 1s;
}
section {
    padding-bottom: 20px;
    padding-right: 15px;
}

.header {
    width: 100vw;
    height: 10vh;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    column-gap: 55px;
    flex-wrap: wrap;
}

.nav-a {
    color: var(--color-primary);
    text-transform: uppercase;
    text-decoration: none;
}

.nav-a:hover {
    color: var(--color-green);
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 80px;
}

.left-block {
    width: 30%;
    height: 100%;
    padding: 0 40px;
}

.photo {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    margin-top: -35px;
}

.line {
    width: calc(100% - 150px);
    height: 3px;
    background-color: var(--color-primary);
    margin-bottom: 15px;
}

.contacts {
    display: flex;
    flex-direction: column;
 }

.contacts-li {
    line-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    list-style: none;
  }

.icon {
    width: 20px;
    height: 20px;
    filter: invert(16%) sepia(45%) saturate(6330%) hue-rotate(261deg) brightness(63%) contrast(111%);
}

.soft-skills {
    padding-right: 15px;
    padding-bottom: 20px;
}

.right-block {
    width: 70%;
    padding: 0 40px;
}

.h1 {
    color:var(--color-green);
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 15px;
    text-align: center;
}

.h3-top {
    text-transform: uppercase;
    color:var(--color-green);
    margin-bottom: 50px;
    text-align: center;
}

.h2 {
    color:var(--color-primary);
    padding-top: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;

}

.about {
    line-height: 25px;
}

.skills-li {
    list-style: circle;
    line-height: 27px;
    margin-left: 20px;
}

.edu-li {
    list-style: none;
    font-weight: 700;
    padding-bottom: 7px;
    padding-top: 7px;
}

.edu-li::before {
    content: '✓';
    color: var(--color-green);
    padding-right: 5px;
}

.experience-li {
    list-style: none;
    padding-bottom: 7px;
    padding-top: 7px; 
}

.experience-li::before {
    content: '✓';
    color: var(--color-green);
    padding-right: 5px;
}


.sub-edu-li {
    list-style: circle;
    margin-left: 30px;
    cursor: pointer;
    line-height: 25px;
    color: var(--color-green);
}

.sub-edu-li:hover {
    color: var(--color-primary);
}

.sub-edu-a {
    text-decoration: underline;
}

.lang-li {
    list-style: circle;
    padding-bottom: 10px;
    margin-left: 20px;
}

.strengths-li {
    list-style: circle;
    margin-left: 20px;
    padding-bottom: 10px;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 40px;
    flex-wrap: wrap;
    padding-top: 15px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    padding: 15px;
    border: 1px solid var(--color-green);
    border-radius: 25px;
}

.project-item {
    width: 100%;
    height: 100%;
}

.project-item:hover {
    filter: opacity(0.5);
    transition: .5s;
}

.projects-h3 {
    text-transform: uppercase;
    font-weight: normal;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: var(--color-green);
    color: #fff;
    border-radius: 25% 25% 0 0;
}

code {
    border-radius: 25px;
}

.logo {
    height: 65px;
    width: 65px;
}

.logo-git {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.block {
    margin: 0 30px;
}

.score {
    width: 30%;
    height: auto;
    display: block;
    cursor: pointer;
}

.score:hover {
    width: 70%;
    transition: 1s;
}



@media (max-width: 861px) {
    .navigation {
        top: 0;
        right: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 4;
        overflow-x: hidden;
    }
    .nav-list {
        flex-direction: column;
        row-gap: 25px;
        align-items: flex-start;
        justify-content: start;
        padding-top: 110px;
        padding-left: 50px;
        position: absolute;
        width: 320px;
        right: -600px;
        height: 400px;
        background-color: #fff;
        border-radius: 25px 0 0 25px;
        transition: 0.5s;
        z-index: 5;
    }

    .nav-list.open {
        right: 0;
        transition: 0.5s;
      }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        margin-right: 44px;
        cursor: pointer;
        user-select: none;
        z-index: 10;
        position: absolute;
        right: 0;
      }
      
      .line-burger {
        width: 50px;
        height: 2px;
        color: #fff;
        background: var(--color-primary);
        margin: 5px 0;
        z-index: 10;
        transition: all 0.3s ease-in-out;
      }
      
      .hamburger.open .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
      }
      
      .hamburger.open .line2 {
        opacity: 0;
      }
      
      .hamburger.open .line3 {
        transform: rotate(45deg) translate(-10px, -9px);
      }

    .photo {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        padding-top: 0px;
    }

    .photo {
        width: 75%;
        display: block;
        margin: 0 auto;
    }

    .left-block {
        width: 100%;
    }

    .right-block {
        width: 100%;
    }

    .h2 {
        text-align: center;
    }

    .contacts {
       align-items: center;
     }

    .line {
        width: 50%;
        margin: 0 auto 20px auto;
    }
}

@media (max-width: 640px) {
    .projects {
        flex-direction: column;
    }

    .item {
        flex-direction: row;
        width: 100%;
    }

    .projects-link {
        width: 50%;
    }
}
