* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color-primary: #3b0c82;
    --color-green: #334d31;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    color: var(--color-green);
    text-decoration: underline;
    transition: 1s;
}

.header {
    width: 100vw;
    height: 10vh;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navigation {
    display: flex;
    column-gap: 55px;
}

.nav-a {
    color: var(--color-primary);
    font-size: 20px;
    text-decoration: none;
}

.nav-a:hover {
    color: var(--color-green);
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: row;
    min-height: 80vh;
}

.left-block {
    width: 30%;
    height: 100%;
    padding: 0 0 0 40px;
}

.photo {
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.line {
    width: calc(100% - 150px);
    height: 3px;
    background-color: var(--color-primary);
    margin-bottom: 10px;
}

.contacts-li {
    line-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    list-style: none;
  }

.icon {
    width: 20px;
    height: 20px;
    filter: invert(16%) sepia(45%) saturate(6330%) hue-rotate(261deg) brightness(63%) contrast(111%);
}

.right-block {
    width: 70%;
    padding: 0 40px;
}

.h1 {
    color:var(--color-green);
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-top: 60px;
}

.h3-top {
    text-transform: uppercase;
    color:var(--color-green);
    text-align: center;
    margin-bottom: 120px;
}

.h2 {
    color:var(--color-primary);
    padding-top: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

h3 {
    color: rgb(0, 0, 3);
}

.skills-li {
    list-style: none;
    line-height: 27px;
}

.edu-li {
    list-style: none;
    font-weight: 700;
    padding-bottom: 7px;
    padding-top: 10px;
}

.sub-edu-li {
    list-style: circle;
    margin-left: 30px;
    cursor: pointer;
}

.sub-edu-li:hover {
    color: var(--color-green);
}

  /* p {
      padding: 0;
      margin: 0 20px 0 40px;
  } */

/* .video {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
} */

  code {
      font-size: 14px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.logo {
    height: 80px;
    width: 80px;
}

.logo-git {
    height: 50px;
    width: 50px;
}

.block {
    margin: 0 30px;
}

.score {
    width: 30%;
    height: auto;
    display: block;
    cursor: pointer;
}
.score:hover {
    width: 70%;
    transition: 1s;
}

.projects-link {
    color: #d2691e;
}
