html {
    font-family: Verdana, sans-serif;
    scroll-behavior: smooth;
}

header {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(15, 114, 160);
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav-a {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: rgb(15, 114, 160);
    font-weight: bold;
}
body {
    max-width: 1020px;
    margin: 0 auto;
}

.contacts {
    list-style-type: none;
}

.photo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 20px;
}

h1 {
    color:#fefeff;
    text-align: center;
    font-size: 42px;
    margin: 10px 20px 20px 20px;
}

h2 {
    color:rgb(15, 114, 160);
    padding: 10px 20px;
    border-bottom: 1px solid #2b221a;
    margin-left: 20px;
    margin-right: 20px;
}

h3 {
    color: rgb(0, 0, 3);
    font-style: italic;
    margin-left: 40px;
}

li {
    line-height: 2;
    margin-left: 40px;
  }

  p {
      padding: 0;
      margin: 0 20px 0 40px;
  }

.video {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
}

  code {
      font-size: 14px;
  }

  footer {
    background-color: rgb(15, 114, 160);
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 80px;
    width: 80px;
}

.logo-git {
    height: 50px;
    width: 50px;
}

.block {
    margin: 0 30px;
}

.score {
    width: 80%;
    height: auto;
}

.projects-link {
    color: #d2691e;
}
